.main-box {
    width: inherit;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    z-index: 1000;
    margin-bottom: 12px;
    height: 400px;
  }